SEPOLIA_URL = "bisa dapet dari infura/alcamemy, contoh di infura: My First Key -> Active Endpoints -> copy yang sepolia"
PRIVATE_KEY = "dari meatamask, titik tiga -> detail account -> tampilkan kunci pribadi"
CONTRACT_ADDRESS = "address smart contract yang "SUDAH TERDEPLOY"